* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #111;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

li {
    list-style: none;
    padding-right: 0.5rem;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
}

/* navbar website start */

#navbar-container {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.8rem;
    z-index: 6;
    transition: 350ms ease-in-out;
}

.scroll {
    background-color: rgb(20, 20, 20);
}

/* option left */
.navbar-option-left {
    display: flex;
    align-items: center;
}

.navbar-option-left .logo-navbar {
    width: 10vw;
    max-width: 100px;
}

.option-browse {
    position: relative;
}

.option-browse .browse {
    font-size: 1.3vw;
    font-weight: 900;
    cursor: pointer;
}

.option-browse .browse i {
    padding-left: 0.5rem;
}

.option-browse :hover {
    color: rgb(97, 97, 97);
}

.option-left:hover .sub-option {
    display: block;
}

.sub-option {
    display: none;
    position: absolute;
    top: 5vw;
    left: 1vw;
    width: 45%;
    max-width: 250px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.8);
    border-top: 1px solid #fff;
}

.sub-option ul li:hover {
    background-color: rgba(82, 79, 79, 0.5);
}

.sub-option ul li {
    text-align: center;
    padding: 0.8rem 0;
}

.navigation-tab {
    display: none;
}

/* option right */
.navbar-option-right {
    display: flex;
    align-items: center;
    margin-right: 1rem;
}

.navbar-option-right .option-right {
    display: flex;
}

.option-right a:hover {
    color: rgb(97, 97, 97);
}

.option-right li {
    padding-right: 1rem;
}

.option-right li a {
    font-size: 16px;
}

.navbar-option-right .image-profile img {
    border-radius: 3px;
    width: 38px;
    height: 38px;
    cursor: pointer;
}

.navbar-option-right .dropdown {
    display: none;
}

/* navbar website end */

/* movies main poster start */
.movies-main {
    position: relative;
    color: #fff;
}

.movies-main .poster-movies {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    opacity: 0.6;

}

.movies-main:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #111 20%, transparent);
}

.poster-main-container {
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
}

.description-movies {
    margin-left: 2.8rem;
}

.logo-movies {
    width: 25vw;
}

.description {
    width: 40vw;
    max-width: 650px;
    padding: 0.7rem 0;
}

.description p {
    font-size: 1.5vw;
    font-weight: 400;
}

.btn {
    padding: 0.5rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play:hover {
    background-color: rgba(236, 236, 236, 0.5);
}

.info {
    margin-left: 0.5rem;
    background-color: rgba(83, 83, 83, 0.5);
    color: #fff;
}

.info:hover {
    background-color: rgba(71, 71, 71, 0.5);
}

.info-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.icons-rating {
    margin-right: 1rem;
    font-size: 0.9rem;
}

.icons-rating i {
    border: 1px solid #fff;
    border-radius: 25px;
    width: 32px;
    height: 32px;
    text-align: center;
    padding-top: 8px;
}

.icons-rating i:hover {
    background-color: rgba(53, 53, 53, 0.5);
}

.rating-movies {
    font-size: 14px;
    padding: 10px 50px 10px 10px;
    border-left: 3px solid #ffffff;
    background-color: rgba(83, 83, 83, 0.5);
}

/* movies main poster end */

/* movies start */
.sliderMovies {
    color: #fff;
    margin-bottom: 3rem;
}

.title {
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0 0.5rem 2rem;
    display: inline-block;
}


.sliderMoviesBox {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
   
}

.sliderMoviesBox > button {
    height: 100%;
    width: 2rem;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 25px;
    
    background-color: hsla(0, 0%, 8%, .5);
    transition: background-color 450ms ease
}

.switchLeft {
    position: absolute;
    left: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    
}

.switchRight {
    position: absolute;
    right: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    
}

.switchLeft:hover,
.switchRight:hover {
    background-color: rgba(7, 6, 6, 0.7);
}

.boxmovies {
    /* --slider-index: 0; */
    margin-left: 2rem;
    display: flex;
    width: calc(100% - 30px);
    transition: transform 0.5s ease-in-out;
}

.boxmovies img {
    width: 30vw;
    max-width: 250px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    margin: 0 5px 0 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
}

.boxmovies img:hover {
    transform: scale(1.4);
   
}

/* movies end */

/* footer start */
.footer {
    display: flex;
    flex-direction: column;
    margin: 20px auto 0;
    max-width: 980px;
    padding: 0 3rem;
    font-size: 14px;
    color: #434343;
}

.social-link {
    font-size: 1.3rem;
}

.social-link a {
    padding-right: 0.5rem;
}

.member-link {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1.5rem 0;
}

.member-link-wrapper {
    padding-bottom: 1rem;
}

.member-link-wrapper a {
    color: #434343;
}

.member-link-wrapper a:hover {
    text-decoration: underline;
}

.member-service {
    margin-bottom: 1.5rem;
}

.service-code {
    display: inline-block;
    padding: 0.5rem 0.8rem;
    border: 1px solid #434343;
}

/* footer end */

/* media quries */
/* tablet screen */
@media (min-width: 800px) {
    .option-browse a {
        font-size: 1.5vw;
        font-weight: 900;
    }

    .member-link {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 885px) {

    /* option left */
    .navigation-tab {
        display: flex;
        color: #e5e5e5;
    }

    .navigation-tab li{
        padding-right: 0.8rem;
    }
    .nav-tab:hover{
        color: rgb(97, 97, 97);
    }

    .nav-tab.active{
        color: #fff;
        cursor: default;
        font-weight: 700;
    }

    .sub-option {
        display: none;
    }

    .option-browse {
        display: none;
    }

}

@media (min-width: 950px) {

    /* option right */
    .navbar-option-right .dropdown {
        display: block;
        margin-left: 0.5rem;
    }

}