* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    background-color: #111;
    font-family: Arial, Helvetica, sans-serif;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}


.movies-main {
    position: relative;
    color: #fff;
}

.movies-main .poster-movies {
    aspect-ratio: 21 / 9;
    object-fit: cover;
    opacity: 0.7;
    
}

.movies-main:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background: linear-gradient(to top, #111 20%, transparent);
}

.poster-main-container {
    position: absolute;
    top: 18%;
    left: 0;
    width: 100%;
    z-index: 1;
}

.description-movies {
    margin-left: 2.8rem;
}

.logo-movies {
    width: 25vw;
}

.description {
    width: 40vw;
    padding: 0.7rem 0;
}

.description p {
    font-size: 1.5vw;
    font-weight: 400;
}

.btn {
    padding: 0.5rem 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5vw;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.play:hover {
    background-color: rgba(82, 79, 79, 0.8);
}

.info {
    margin-left: 0.5rem;
    background-color: rgba(83, 83, 83, 0.5);
    color: #fff;
}

.info:hover {
    background-color: rgba(44, 43, 43, 0.5);
}

.info-rating {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    font-size: 0.7rem;
}

.icons-rating{
    margin-right: 1rem;
}

.icons-rating i{
    border: 1px solid #fff;
    border-radius: 25px;
    width: 30px;
    height: 30px;
    text-align: center;
    padding-top: 8px;
    
}

.rating-movies {
    padding: 10px 45px 10px 10px;
    border-left: 2px solid #c7c7c7;
    background-color: rgba(83, 83, 83, 0.5);
}


.sliderMovies{
    
    margin-bottom: 2rem;
    color: #fff;
}

.slider-name{
    font-weight: 700;
    font-size: 1rem;
    padding: 0 0 0.5rem 1.8rem;
}

.slider-container{
    position: relative;
}

.sliderButton{
    top: 0;
    height: 100%;
    width: 1.5rem;
    background-color: rgba(22, 22, 22, 0.5);
    transition: background-color 450ms ease
}

.switchLeft{
    position: absolute;
    left: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    
}

.switchRight{
    position: absolute;
    right: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.switchLeft,
.switchRight {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: pointer;
    
}

.switchLeft:hover,
.switchRight:hover {
    background-color: rgba(44, 44, 44, 0.5);
}

.sliderMoviesBox{ 
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0 0 0 25px;
}

.sliderMoviesBox img{
    width: 30vw;
    max-width: 250px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    background-color: rgb(255, 255, 255);
    border-radius: 0.5rem;
    margin: 0 10px 0 0 ;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    
    
}

.sliderMoviesBox img:hover{
    transform: scale(1.4);
    
    
}